@import 'manifest';

:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  .selectMode {
    position: absolute;
    top: ptr(100px);
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin-bottom: ptr(50px);
  }
  .profile {
    text-align: center;
    .selectProfile {
      display: block;
      flex: 0 0 100%;
      margin-bottom: ptr(20px);
    }
  }
  form {
    text-align: center;
  }
}
