@import 'manifest';

:host {
  display: block;
  height: 100%;
  border-right: 1px solid $color-black-secondary;
  overflow-y: scroll;
  .skeleton {
    display: block;
    margin-bottom: ptr(1px);
  }
  .actions {
    margin-top: ptr(16px);
    text-align: center;
  }
  ::ng-deep {
    .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
      font-weight: 400;
    }
    .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
      border-top: unset;
    }
    .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content,
    .p-panelmenu .p-panelmenu-content {
      border-right: unset;
      border-radius: unset;
    }
  }
}
