@import 'manifest';

:host {
  display: block;
  border-top: 1px solid $color-black-secondary;
  padding: ptr(16px);
  form {
    position: relative;
    max-width: ptr(700px);
    margin: 0 auto;
    textarea {
      margin-left: ptr(30px) + ptr(16px);
      border-radius: ptr(12px);
      resize: none;
      padding-right: ptr(70px);
      width: calc(100% - ptr(30px) - ptr(16px));
    }
    p-button {
      position: absolute;
      top: ptr(16px);
      right: ptr(16px);
      bottom: ptr(16px);
      right: ptr(16px);
    }
  }
}
