@import 'manifest';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  height: 100%;
  padding-top: ptr(44px);
  @include media-screen-md {
    padding-top: ptr(51px);
  }
  &.hasSidebar {
    flex: 0 0 80%;
    width: 80%;
  }
}
