@if (threadId) {
  @for (message of threadMessages ?? []; track message.id) {
    <div class="message">
      <p-avatar
        class="avatar"
        shape="circle"
        icon="pi pi-user"
        [label]="message.role === 'assistant' ? 'A' : undefined"
        [style]="message.role === 'assistant'
        ? { 'background-color': 'var(--blue-500)', color: '#ffffff' }
        : {}"
        size="normal"
      />
      <div class="content" [innerHTML]="message.content.at(0)!.text!.value | mark"></div>
    </div>

  }
}
@else if (assistantId) {
  <div class="createThread">
    <i class="icon pi pi-comments"></i>
    <div class="info">
      Create a new thread by posting a first message to the assistant
    </div>
  </div>
}
@else {
  <div class="selectAssistant">
    <i class="icon pi pi-users"></i>
    <div class="info">
      Select an assistant to start chatting
    </div>
  </div>
}

@if (loading) {
  <p-progressSpinner
    class="spinner"
    strokeWidth="2"
    animationDuration="2s"
  />
}
