@if (threadId) {
  @for (message of threadMessages ?? []; track message.id) {
    <div class="message">
      <p-avatar
        class="avatar"
        shape="circle"
        icon="pi pi-user"
        [label]="message.role === 'assistant' ? 'A' : undefined"
        [style]="message.role === 'assistant'
        ? { 'background-color': 'var(--blue-500)', color: '#ffffff' }
        : {}"
        size="normal"
      />
      <div class="content" [innerHTML]="message.content.at(0)!.text!.value | mark"></div>
    </div>

  }
}
@else if (assistantId) {
  no thread selected, create a new one for {{ assistantId }}
}
@else {
  no assitant selected, select one to create a new thread or select an existing thread
}
