@import 'manifest';
@import 'normalize.css/normalize.css';
@import 'primeng/resources/themes/arya-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import "primeicons/primeicons.css";
:root {
  font-size: 15px;
}

html, body {
  height: 100vw;
  width: 100vw;
  overflow: hidden;
  display: block;
  background-color: $color-black-primary;
}

*, *::before, *::after {
  box-sizing: border-box;
}
